<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CondoMain Publicações</title>
    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}" />
    <script src="{{ asset('assets/js/jquery.js') }}"></script>
    <script src="{{ asset('assets/js/angular.min.js') }}"></script>
    <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('assets/js/angular-locale_pt-br.js') }}"></script>
    <script>
        var app = angular.module("app", []).config(function($interpolateProvider){
            $interpolateProvider.startSymbol("[[").endSymbol("]]");
        });
        app.controller('publicacoesJson', function($scope, $http) {
            $http.get("http://ws.dev/ws/publicacoes").success(function(response) {
               $scope.publicacoes = response;
                $scope.app = new Date();
            });
        });
    </script>
</head>
<body>
    <div class="container">
        <div class="row">

            <div class="col-sm-12 main">
                <h1 class="page-header">Publicações</h1>
                <div class="table-responsive">
                    <table class="table table-striped" ng-controller="publicacoesJson">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Publicado por:</th>
                                <th>Descrição</th>
                                <th>Foto</th>
                                <th>Publicaco em</th>
                                <th>Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="publicacao in publicacoes">
                                <td>[[ publicacao.id ]]</td>
                                <td>[[ publicacao.nome ]]</td>
                                <td>[[ publicacao.descricao ]]</td>
                                <td>[[ publicacao.foto ]]</td>
                                <td>[[ publicacao.data_criacao | date:'dd/MM/yy HH:mm' ]]</td>
                                <td>
                                    <button class="btn btn-danger">Excluir</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>